#header 
{  
    background-color:#C0C0C0;  
    text-align:center; 
    padding:20px; 
} 
#navbar 
{  
    overflow:hidden;  
    background-color:#101010; 
} 
#navbar a 
{  
    float:left;  
    display:block;  
    color:white;  
    text-align:center;  
    padding:14px 16px;  
    text-decoration:none; 
} 
#navbar a:hover 
{  
    background-color:#C0C0C0;  
    color:#101010; 
} #content:after 
{  
    content:"";  
    display:table;  
    clear:both; 
} 
#content 
#leftsidebar 
{  
    float:left;  
    width:20%; 
} 
#content #maincontent 
{  
    float:left;  
    width:60% 
} 
#content #rightsidebar
{   
    float:left;  
    width:20% 
} 
.sidebarbox 
{  
    width:80%;  
    background-color:#C0C0C0;  
    padding:10px;  margin:10px 10px; 
} #footer 
{  
    margin-top:10px;  
    background-color:#C0C0C0;  
    text-align:center;  
    padding:10px; 
} 